body {
  background-color: black;
  opacity: 0.9;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  background-color: black;
  opacity: 0.9;
}

a {
  display: inline-block;
  color: seashell;
  padding-right: 10px;
  margin-right: 10px;
}

.logo {
  display: flex;
  margin-left: 10px;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

.main-content {
  position: center;
}

.section-1 {
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url(images/img-mission-background.jpg);
  align-items: center;
}

.mission {
  width: 1200px;
  background-color: black;
}

.section-2 {
  width: 1000px;
}

.title {
  display: block;
  background-color: black;
  width: 1000px;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-pic {
  width: 300px;
  text-align: center;
}
.tea-pic img {
  height: 200px;
}

.section-3 {
  background-image: url(images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  color: seashell;
}

.location-container {
  display: inline-block;
  align-items: center;
}

.locations {
  display: inline-block;
  background-color: black;
  height: 300px;
  width: 300px;
}

.contact {
  height: 200px;
  width: 100%;
  text-align: center;
}

footer {
  margin-left: 20px;
  text-align: left;
}
